sudo: required

language: php

cache:
  directories:
    - $HOME/.composer/cache

env:
  - PLATFORM=travis

php:
  - '7.2'
  - '7.3'
  - '7.4'

before_install:
  - sudo apt-get update
  - sudo apt-get install libcurl4-openssl-dev

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit
